<template>
  <div class="forth-example">
    <h3>演示示列四</h3>
    <modal content="删除" title="确定要删除吗" :ok="ok"></modal>
  </div>
</template>
<script>
  import Modal from "./../common/Modal.vue"

  export default {
      data(){
          return{
            something:"hello"
          }
      },
      components:{
          Modal
      },
      methods:{
          ok(){
              alert(this.something);
              console.log(Modal.methods.cancel());
          }
      }

  }
</script>
<style>

</style>
