<template>
  <div class="table-wrapper">
    <Table border :columns="columns2" :data="data3"></Table>
    <page></page>
  </div>

</template>
<script>
  import Page from "./../pages/Page";
  export default {
    data () {
      return {
        columns2: [
          {
            title: '姓名',
            key: 'name',
            width: 100,
            fixed: 'left'
          },
          {
            title: '年龄',
            key: 'age',
            width: 100
          },
          {
            title: '省份',
            key: 'province',
            width: 100
          },
          {
            title: '市区',
            key: 'city',
            width: 100
          },
          {
            title: '地址',
            key: 'address',
            width: 200
          },
          {
            title: '邮编',
            key: 'zip',
            width: 100
          },
          {
            title: '操作',
            key: 'action',
            fixed: 'right',
            width: 120,
            render () {
              return `<i-button type="text" size="small">查看</i-button><i-button type="text" size="small">编辑</i-button>`;
            }
          }
        ],
        data3: [
          {
            name: '王小明',
            age: 18,
            address: '北京市朝阳区芍药居',
            province: '北京市',
            city: '朝阳区',
            zip: 100000
          },
          {
            name: '张小刚',
            age: 25,
            address: '北京市海淀区西二旗',
            province: '北京市',
            city: '海淀区',
            zip: 100000
          },
          {
            name: '李小红',
            age: 30,
            address: '上海市浦东新区世纪大道',
            province: '上海市',
            city: '浦东新区',
            zip: 100000
          },
          {
            name: '周小伟',
            age: 26,
            address: '深圳市南山区深南大道',
            province: '广东',
            city: '南山区',
            zip: 100000
          },
          {
            name: '周小伟2',
            age: 26,
            address: '深圳市南山区深南大道',
            province: '广东',
            city: '南山区',
            zip: 100000
          },
          {
            name: '周小伟3',
            age: 26,
            address: '深圳市南山区深南大道',
            province: '广东',
            city: '南山区',
            zip: 100000
          }

        ]
      }
    },
    components:{
        Page
    }
  }
</script>
<style scoped>
  .table-wrapper {
    height:100%;
  }
  .ivu-table-wrapper {
    height:calc(100% - 32px);
  }

</style>
