<template>
  <div class="dialog">
    <Button type="primary" @click="modal1 = true">{{content}}</Button>
    <Modal
      v-model="modal1"
      :title="title"
      @on-ok="ok"
      @on-cancel="cancel">
      <p>对话框内容</p>
      <p>对话框内容</p>
      <p>对话框内容</p>
    </Modal>
  </div>

</template>
<script>
  import Vue from "vue"
  export default {
    data () {
      return {
        modal1: false
      }
    },
    props:{
        content:{
            type:String,
            default:"显示对话框"
        },
        title:{
            type:String,
            default:"普通的Modal对话框标题"
        },
        ok:{
            type:Function,
            default(){
              console.log("diao yong le default");
              Vue.cancel();
            }
        }
    },
    methods: {

      cancel () {
        this.$Message.info('点击了取消');
      }
    }
  }
</script>
<style>
  .ivu-modal-wrap{
    z-index:100000!important;
  }
</style>
